# =========================================
# SPRING
# docker compose --env-file .env.prod up -d
# =========================================

SPRING_PROFILES_ACTIVE=prod

# =========================================
# DATABASE
# =========================================

DB_HOST=postgres
DB_PORT=5432

DB_NAME=aquarismo_prod
DB_USER=aquarismo_user
DB_PASSWORD=CHANGE_THIS_SUPER_SECURE_PASSWORD


# =========================================
# BACKEND
# =========================================

EXPOSE_BACKEND_PORT=8080

# =========================================
# SECURITY
# =========================================

JWT_SECRET=CHANGE_THIS_JWT_SECRET_TO_A_LONG_RANDOM_VALUE
PASSWORD_SECRET=CHANGE_THIS_PASSWORD_SECRET_TO_A_LONG_RANDOM_VALUE
