###############################################################################
# Docker Compose (Desenvolvimento)
###############################################################################

# Subir os containers
# docker compose -f docker-compose.yaml -f docker-compose.dev.yaml --env-file .env.dev up --build

# Subir em segundo plano
# docker compose -f docker-compose.yaml -f docker-compose.dev.yaml --env-file .env.dev up -d --build

# Parar os containers
# docker compose -f docker-compose.yaml -f docker-compose.dev.yaml --env-file .env.dev down
