# =========================================
# SPRING
# docker compose --env-file .env.dev up -d
# =========================================

SPRING_PROFILES_ACTIVE=dev

# =========================================
# DATABASE
# =========================================

DB_HOST=postgres
DB_PORT=5432

DB_NAME=blue_fox_aquarismo_dev
DB_USER=postgres
DB_PASSWORD=postgres123

# =========================================
# BACKEND
# =========================================

EXPOSE_BACKEND_PORT=8080

# =========================================
# SECURITY
# =========================================

JWT_SECRET=dev_jwt_secret_very_secure_key
PASSWORD_SECRET=dev_password_secret_key
