###############################################################################
# Docker Compose (Produção)
###############################################################################

# Subir os containers
# docker compose -f docker-compose.yaml -f docker-compose.prod.yaml --env-file .env.prod up -d --build

# Parar os containers
# docker compose -f docker-compose.yaml -f docker-compose.prod.yaml --env-file .env.prod down